<a href="https://www.kaggle.com/code/kennethnjuguna/kenya-inflation-rate-from-2005-2023?scriptVersionId=147185541" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

**This is a notebook Looking at Inflation Rate in the Country from the year 2005-2003**
<ul>
    <li>Get the year with the highest inflation rate. </li>
    <li>Get the month with the highest inflation rate.</li>
</ul>

**Import the required python libraries to be used with the dataset.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy as sp

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Import the inflation rate dataset.

In [2]:
kenyainflationrate=pd.read_csv('/kaggle/input/kenyainflation2005-2023/Inflation Rates.csv')

View the first five rows of the dataset.

In [3]:
kenyainflationrate.head()

   Year  Month  Annual Average Inflation  12-Month Inflation
0  2023   July                      8.68                7.28
1  2023   June                      8.77                7.88
2  2023    May                      8.78                8.03
3  2023  April                      8.71                7.90
4  2023  March                      8.59                9.19

View the last rows of the dataset.

In [4]:
kenyainflationrate.tail()

     Year     Month  Annual Average Inflation  12-Month Inflation
219  2005       May                     14.61               14.78
220  2005     April                     13.76               16.02
221  2005     March                     13.07               14.15
222  2005  February                     12.60               13.94
223  2005   January                     12.27               14.87

Detailed data info

In [5]:
#This function checks for detailed datatypes for each attribute
kenyainflationrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      224 non-null    int64
 1   Month                     224 non-null    object
 2   Annual Average Inflation  224 non-null    float64
 3   12-Month Inflation        224 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.1+ KB

Check for duplicate values within the dataset.

In [6]:
#This checks for duplicated values within the dataset
kenyainflationrate.duplicated().sum()

1

Check for missing values within the Kenya Inflation Rate dataset.

In [7]:
missing_data=kenyainflationrate.isnull()
missing_data.head(5)

    Year  Month  Annual Average Inflation  12-Month Inflation
0  False  False                     False               False
1  False  False                     False               False
2  False  False                     False               False
3  False  False                     False               False
4  False  False                     False               False