<a href="https://www.kaggle.com/code/kennethnjuguna/kenya-inflation-rate-from-2005-2023?scriptVersionId=148422718" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# This is a notebook Looking at Inflation Rate in the Country from the year 2005-2003
<ul>
    <li>Get the year with the highest inflation rate. </li>
    <li>Get the month with the highest inflation rate.</li>
</ul>

**Import the required python libraries to be used with the dataset.**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy as sp

**Import the inflation rate dataset.**

In [ ]:
#we use pandas to import the required dataset for this EDA
kenyainflationrate=pd.read_csv('/kaggle/input/kenyainflation2005-2023/Inflation Rates.csv')

**View the first five rows of the dataset.**

In [ ]:
#We use the head function to check the first five rows of the dataset
kenyainflationrate.head()

**View the last rows of the dataset.**

In [ ]:
#We use the tail function to check the last 5 rows of the dataset
kenyainflationrate.tail()

**Get Detailed data info  of all attributes in the dataset**

In [ ]:
#This function checks for detailed datatypes for each attribute
kenyainflationrate.info()

**Check for duplicate values within the dataset.**

In [ ]:
#This checks for duplicated values within the dataset
kenyainflationrate.duplicated().sum()

**Check for missing values within the Kenya Inflation Rate dataset.**

In [ ]:
#This will check if the dataset has any missing values or data
missing_data=kenyainflationrate.isnull()
missing_data.head(5)

**Check in a sum function the total number of Null(missing values) within the dataset**

In [ ]:
#You can as well use the code below to get any Null Values
kenyainflationrate.isnull().sum()

**Defining the shape of the dataset.**

In [ ]:
#Determing the number of rows and columns within the dataset
kenyainflationrate.shape

**Summarical statistics of the dataset**

In [ ]:
# we use the decribe function to get the summarical statistics of the whole dataset
kenyainflationrate.describe()

# Graphical representation of the above dataset.

**Visualize the corelation of the whole dataset**

In [ ]:
sns.heatmap(kenyainflationrate.corr())

**Let's compare the inflation rate of kenya in each year. We will do this by plotting a line graph of the inflation rate of the years on the same chart.**

In [1]:
# Group the data by year and calculate the mean price for each year
annual_data = df.groupby('year')['ngn_price'].mean()

# Create a time series plot with years on the x-axis
years = annual_data.index
prices = annual_data.values

plt.figure(figsize=(12, 6))  # Adjust the figure size as needed
plt.plot(years, prices, label='Mean Food Prices', color='blue', marker='o')
plt.title('Average Food Prices Over the Years')
plt.xlabel('Year')
plt.ylabel('Average Price')
plt.xticks(years, rotation=45)  # Rotate x-axis labels for readability
plt.legend()
plt.grid(True)

# Display the plot
plt.show()

NameError: name 'df' is not defined